body,
html {
    background-color: #958080b6;
    height: 80%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(13, 14, 13, 0.685);
    /* lighter overlay */
    padding: 10px 30px;
    /* small padding */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Logo */
.logo img {
    height: 40px;
}

/* Links */
.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 12px;

}

.nav-links a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    color: #fff;
}

body {
    padding-top: 50px;
    /* adjust depending on your navbar height */
}

.hero-image {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/s.jpg");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h2,
p {
    margin: 10px;
}



div {

    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;

}

div.gallery {
    border: 1px solid #ccc;
    border-radius: 10px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.image-text-container {
    display:flex;
    align-items: center;
    gap: 20px;
    position: relative;
    width:100%;
    
}

.image-text-container img {
    
    opacity: 1;
    display: block;
    width: 200px;
    height: auto;
    border-radius: 8px;
    backface-visibility: hidden;
}
.text-content {
   
    font-family: Arial, sans-serif;
    align-content: top;
}



